:root{
--primary-text-color: #000;
--primary-bg-color: #fff;
--primary-font-family: 'Roboto', sans-serif; 
--primary-font-size: 0.875rem;
}
html{
color:var(--primary-text-color);
background-color:var(--primary-bg-color);
font-family:var(--primary-font-family);
font-size: var(--primary-font-size);
}
body footer{
--footer-text-color: #fff;
--fuuter-bg-color: #000;
color:#fff;
background-color: #000;
}
