html{
font-size:100%;
}
body{
    font-size: 16px;
}
strong{
font-size:1.6rem;
}
div{
    font-size: 1em;
}
/*div{
    font-size: 1.6em;
        >span{
            font-size: 1.6em;
            >span{
                font-size: 1.6em;
            }
    }
}*/
h1,h2,h3{
    font-weight: 700;
}
h1{
    font-size:1.45rem;
}
h2{
    font-size: 1.3rem;
}
.list-unstyled{
    list-style: none;
}
div>span>span{
    font-size: 1.6em;
}
div~strong{
    font-size: 1.6em;
}
ul li{
    list-style-type: square;
}
.footer-social{

}